<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="local runtime" value="/home/oldzhu/buildroot/output/build/dotnetruntime-origin_master/artifacts/packages/Debug/Shipping\" />
  </packageSources>
</configuration>
